body {
    background-color: #EDEDED;
}

#main {
    width: 100%;
    height: 400px;
}

.banner {
    display: inline-block;
    background-color: aquamarine;
    color: navy;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.value {
    display: inline-block;
    background-color: rgb(245, 245, 196);
    color: navy;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.rank {
    display: inline-block;
    background-color: pink;
    color: navy;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}