<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>前12大券商EPS試算</title>
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 問老師:1.如果資料來源是從資料庫或讀取文檔，是不是也要引用jquery？引用jquery的目的是因為要使用ajax寫法嗎?
                2.如果title要依據圖表資料的不同，用動態取可行嗎?
                3.最後網站要發佈才能讓使用者點網址連結進去看，對嗎?
                4.main.py中取得本公司資料要怎麼寫? -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <h1>前12大券商當月營收及試算EPS</h1>
    <!-- <h3>單位：仟萬</h3> -->
    <div id="main" style="width: 1600px;height:400px;"></div>
    <script>
        // // 取得主繪製區塊
        // const myChart = echarts.init(document.getElementById('main'));
        // // 呼叫後端資料跟繪製
        // drawEPS();
        // // 取得後端資料
        // function drawEPS() {
        //     $.ajax(
        //         {
        //             url: "/current-EPS-data",
        //             type: "GET",
        //             dataType: "json",
        //             success: (result) => {
        //                 // console.log(result);
        //                 // 繪製對應區塊並給予必要參數
        //                 drawChat(myChart, "當月試算EPS", "本月稅後EPS", result["company"], result["current_EPS"])
        //             }
        //         }
        //     )
        // }
        // function drawChat(chart, title, legend, xData, yData) {
        //     // 指定圖表的配置項目和數據
        //     let option = {
        //         title: {
        //             text: title
        //         },
        //         tooltip: {},
        //         legend: {
        //             data: legend
        //         },
        //         xAxis: {
        //             data: xData
        //         },
        //         yAxis: {},
        //         series: [
        //             {
        //                 name: legend,
        //                 type: 'bar',
        //                 data: yData
        //             }
        //         ]
        //     };
        //     // 使用剛指定的配置項目和數據顯示圖表。
        //     chart.setOption(option);
        // }

    </script>

    <!-- <table border="1">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in values %}
            <tr>
                {% for val in value %}
                <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body> -->

</html>