<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>前12大券商EPS試算</title>
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 問老師:1.如果資料來源是從資料庫或讀取文檔，是不是也要引用jquery？引用jquery的目的是因為要使用ajax寫法嗎?
                2.如果title和legend要依據圖表資料的不同，用動態取可行嗎?
                3.最後網站要發佈才能讓使用者點網址連結進去看，對嗎?
                4.main.py中取得本公司資料要怎麼寫?
                  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"> -->
</head>

<body>
    <div id="container">
        <h1>前12大券商營收及EPS試算</h1>
        <div>本月排名</div>
        <div id="eps_high_rank" class="rank"></div>
        <div id="eps_high_company" class="banner"></div>
        <div id="eps_high_value" class="value"></div><br>
        <div>本月排名</div>
        <div id="eps_second_rank" class="rank"></div>
        <div id="eps_second_company" class="banner"></div>
        <div id="eps_second_value" class="value"></div><br>
        <div>本公司</div>
        <div>本月排名</div>
        <div id="eps_point_rank" class="rank"></div>
        <div id="eps_point_company" class="banner"></div>
        <div id="eps_point_value" class="value"></div>
    </div>



    <!-- <div id="container">

        <div>累計排名</div>
        <div id="acc_eps_high_rank" class="rank"></div>
        <div id="acc_eps_high_company" class="banner"></div>
        <div id="acc_eps_high_value" class="value"></div><br>
        <div>累計排名</div>
        <div id="acc_eps_second_rank" class="rank"></div>
        <div id="acc_eps_second_company" class="banner"></div>
        <div id="acc_eps_second_value" class="value"></div><br>
        <div>本公司</div>
        <div>累計排名</div>
        <div id="acc_eps_point_rank" class="rank"></div>
        <div id="acc_eps_point_company" class="banner"></div>
        <div id="acc_eps_point_value" class="value"></div>
    </div> -->



    <!-- 繪製區域 -->
    <div id="main" style="width: 1600PX;height:400px;"></div>
    <div id="acc" style="width: 1600PX;height:400px;"></div>
    <!-- <h3>各券商營收資料</h3>
    <select name="select_company" id="select_company">
        {% for com in coms %}
        <option value="{{com}}">{{com}}</option>
        {% endfor %}
    </select>
    <div id="coms" style="width: 1600PX;height:400px;"></div> -->

    <a href="/">回首頁</a>
    <script src="../static/js/main.js">
    </script>


</body>

</html>