<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>前12大券商EPS試算</title>
    <style>
        body {
            background-color: #ffe4e1;
        }
    </style>

<body>

    <h1>前12大券商當月營收及EPS試算資料</h1>
    <a href="/current-EPS-charts" target="blank">看圖表</a>
    <p>
    <table border="1">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in values %}
            <tr>
                {% for val in value %}
                <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>

</body>

</html>